<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="es.brujula.searcher.infrastructure.persistence.mybatis.mapper.room.RoomMapper">

    <select id="byId"
            resultType="es.brujula.searcher.domain.room.model.Room">
        SELECT ID, HOTEL_ID, NAME, PRICE, OCCUPATION FROM ROOMS WHERE id = #{id}
    </select>

    <select id="byHotelId"
            resultType="es.brujula.searcher.domain.room.model.Room">
        SELECT ID, HOTEL_ID, NAME, PRICE, OCCUPATION FROM ROOMS WHERE HOTEL_ID = #{hotelId}
    </select>

    <insert id="add">
        INSERT INTO ROOMS
            (id, hotel_id, name, price, occupation)
        VALUES(#{id}, #{hotel_id}, #{name}, #{price}, #{occupation})
    </insert>

    <delete id="delete">
        DELETE FROM ROOMS WHERE id = #{id}
    </delete>

    <update id="update">
        UPDATE ROOMS
            SET name = #{name}, price = #{price}, occupation = #{occupation}
        WHERE id = #{id}
    </update>

</mapper>