<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="es.brujula.searcher.infrastructure.persistence.mybatis.mapper.hotel.HotelMapper">

    <select id="byId"
            resultType="es.brujula.searcher.domain.hotel.model.Hotel">
        SELECT ID, NAME, ADDRESS, CATEGORY FROM HOTELS WHERE id = #{id}
    </select>

    <select id="all"
            resultType="es.brujula.searcher.domain.hotel.model.Hotel">
        SELECT ID, NAME, ADDRESS, CATEGORY FROM HOTELS
    </select>

    <insert id="add">
        INSERT INTO HOTELS
            (id, name, address, category)
        VALUES(#{id}, #{name}, #{address}, #{category})
    </insert>

    <delete id="delete">
        DELETE FROM HOTELS WHERE id = #{id}
    </delete>

    <update id="update">
        UPDATE HOTELS
            SET name = #{name}, address = #{address}, category = #{category}
        WHERE id = #{id}
    </update>

</mapper>